.heading{
  background: url("../Images/background1.jpg") rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: white;
  background-blend-mode: multiply;
  padding-top: 50%;
  padding-bottom: 50%;
}
